#s-unterstutzen > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-unterstutzen > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 1024px;
}
#s-unterstutzen #s-Image_1 {
  position: absolute;
  width: 1280px;
  height: 852px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-unterstutzen #s-Image_1 > img, #s-unterstutzen #s-Image_1 > svg {
  height: 852px;
  width: 1280px;
  box-shadow: none;
}
#s-unterstutzen #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-unterstutzen #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Handel Becker Light',Arial;
}
#s-unterstutzen #s-Text_9 > .clipping, #s-unterstutzen #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-unterstutzen #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-unterstutzen #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-unterstutzen #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-unterstutzen #s-Button_13 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #04C1DE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-unterstutzen #s-Button_13 {
  position: absolute;
  width: 209px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Handel Becker Light',Arial;
}
#s-unterstutzen #s-Button_13 > .clipping, #s-unterstutzen #s-Button_13 > .paddingLayer {
  height: 29px;
  width: 199px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-unterstutzen #s-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-unterstutzen #s-Button_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-unterstutzen #s-Button_13 span#rtr-s-Button_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-unterstutzen #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-unterstutzen #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 36.0pt;
  font-family: 'Handel Becker Light',Arial;
}
#s-unterstutzen #s-Text_7 > .clipping, #s-unterstutzen #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-unterstutzen #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-unterstutzen #s-Text_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-unterstutzen #s-Text_7 span#rtr-s-Text_7_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-unterstutzen #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-unterstutzen #s-Paragraph_1 {
  position: absolute;
  width: 798px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Handel Becker Light',Arial;
}
#s-unterstutzen #s-Paragraph_1 > .clipping, #s-unterstutzen #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-unterstutzen #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-unterstutzen #s-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-unterstutzen #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-unterstutzen #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-unterstutzen #s-Paragraph_2 {
  position: absolute;
  width: 798px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Handel Becker Light',Arial;
}
#s-unterstutzen #s-Paragraph_2 > .clipping, #s-unterstutzen #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-unterstutzen #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-unterstutzen #s-Paragraph_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-unterstutzen #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-unterstutzen #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-unterstutzen #s-Paragraph_3 {
  position: absolute;
  width: 678px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Handel Becker Light',Arial;
}
#s-unterstutzen #s-Paragraph_3 > .clipping, #s-unterstutzen #s-Paragraph_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-unterstutzen #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-unterstutzen #s-Paragraph_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-unterstutzen #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-unterstutzen #s-Image_4 {
  position: absolute;
  width: 41px;
  height: 41px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-unterstutzen #s-Image_4 > img, #s-unterstutzen #s-Image_4 > svg {
  height: 41px;
  width: 41px;
  box-shadow: none;
}
#s-unterstutzen #s-Image_5 {
  position: absolute;
  width: 41px;
  height: 41px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-unterstutzen #s-Image_5 > img, #s-unterstutzen #s-Image_5 > svg {
  height: 41px;
  width: 41px;
  box-shadow: none;
}
#s-unterstutzen #s-Image_6 {
  position: absolute;
  width: 41px;
  height: 41px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-unterstutzen #s-Image_6 > img, #s-unterstutzen #s-Image_6 > svg {
  height: 41px;
  width: 41px;
  box-shadow: none;
}
#s-unterstutzen #s-Image_2 {
  position: absolute;
  width: 329px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-unterstutzen #s-Image_2 > img, #s-unterstutzen #s-Image_2 > svg {
  height: 114px;
  width: 329px;
  box-shadow: none;
}
#s-unterstutzen #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-unterstutzen #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Handel Becker Light',Arial;
}
#s-unterstutzen #s-Text_1 > .clipping, #s-unterstutzen #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-unterstutzen #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-unterstutzen #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-unterstutzen #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-unterstutzen #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-unterstutzen #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Handel Becker Light',Arial;
}
#s-unterstutzen #s-Text_2 > .clipping, #s-unterstutzen #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-unterstutzen #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-unterstutzen #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-unterstutzen #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-unterstutzen #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-unterstutzen #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.000001pt;
  font-family: 'Handel Becker Light',Arial;
}
#s-unterstutzen #s-Text_3 > .clipping, #s-unterstutzen #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-unterstutzen #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-unterstutzen #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 14.000001pt;
  font-style: normal;
  font-weight: 400;
}
#s-unterstutzen #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 14.000001pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-unterstutzen #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-unterstutzen #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Handel Becker Light',Arial;
}
#s-unterstutzen #s-Text_4 > .clipping, #s-unterstutzen #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-unterstutzen #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-unterstutzen #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-unterstutzen #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Handel Becker Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-unterstutzen #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-unterstutzen #s-Rectangle_1 {
  position: absolute;
  width: 180px;
  height: 122px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-unterstutzen #s-Rectangle_1 > .clipping, #s-unterstutzen #s-Rectangle_1 > .paddingLayer {
  height: 120px;
  width: 178px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-unterstutzen #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-unterstutzen #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-unterstutzen #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-unterstutzen #s-Image_3 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-unterstutzen #s-Image_3 > img, #s-unterstutzen #s-Image_3 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
#s-unterstutzen #shapewrapper-s-Line_1 marker {
  fill: #404040;
}
#s-unterstutzen #shapewrapper-s-Line_1 {
  position: absolute;
  width: 34px;
  height: 11px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-unterstutzen #s-Line_1 {
  width: 34px;
  height: 9px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #404040;
  box-shadow: none;
  cursor: pointer;
}
#s-unterstutzen > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}